**Bodovi ostvareni na testu**

| Student | Bodovi |
| :------ | :------: |
| Branković Boško | 21 |
| Zeljko Luka | 19 |
| Tomić Dejan | 20 |
| Smiljanić Dejana | 25 |
| Vulin Ana | 24 |
| Miljević Nataša | 23 |
| Savičić Anđela | 14 |

**Napomena:** Maksimalano se može ostvariti 25% ocjene na testu.
