**Bodovi ostvareni na testu**

| Student | Bodovi |
| :------ | :------: |
| Branković Boško | |
| Zeljko Luka | |
| Tomić Dejan | |
| Smiljanić Dejana | |
| Vulin Ana | |
| Miljević Nataša | |
| Savičić Anđela | |

**Napomena:** Maksimalano se može ostvariti 25% ocjene na testu.
